//.token-container {
//  margin: 0 auto;
//  width: 100%;
//  max-width: 540px;
//  max-height: 100vh;
//
//  .token-form {
//    display: flex;
//    flex-direction: column;
//
//    .token-input {
//      width: 100%;
//    }
//  }
//}

.form-container {
  max-width: 540px;
  max-height: 100vh;
}

#confirm-button {
  height: 46px;
  margin-top: 22px;

}
