.form-preview-block-info,
.form-preview-block-results {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid #e0e0e0;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.info-block-border:not(:first-child) {
  margin-top: 32px;
  margin-bottom: 32px;
}

.info-block {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.info {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.description {
  font-size: 16px;
  font-weight: 300;
}

#desc {
  padding-top: 14px;
  white-space: pre-line;
  line-height: 1.5;
}

.form-preview-block-questions {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.question {
  font-size: 16px;
  font-weight: 300;
}

.answer {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  gap: 14px;
}

.answer-info {
  display: flex;
  align-items: center;
  gap: 14px;
}

.a {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
}

.form-preview-block {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.not-recommendation {
  padding-top: 24px;
}

#info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

#info-icon {
  color: rgba(0, 0, 0, 0.38);
}

.search {
  padding-top: 22px;
}

.divider {
  margin-top: 16px;
}

.questions-gap:not(:last-child) {
  margin-bottom: 16px; /* Adjust the value as needed */
}
