form {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.container-screen-center {
  display: flex;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 8px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.38);
  padding: 48px 40px 40px 40px;
  background: #fff;
}

.form-load {
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: #3F51B5;
  cursor: pointer;
}

.icon {
  color: #212121;
}


